/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #3730a3;
  border: 0px none #ffffff;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4338ca;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #44403c;
  border: 0px none #ffffff;
  border-radius: 4px;
}
::-webkit-scrollbar-track:hover {
  background: #44403c;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
