<aside class="w-20 h-full flex items-center flex-col gap-2 shadow-primary">
  <div class="h-20 w-full flex items-center justify-center border-b" routerLink="/home">
    <sidebar-cicle text="SN"></sidebar-cicle>
  </div>
  <sidebar-cicle text="+" (click)="openCreateServerModal()"></sidebar-cicle>
  @for (server of serverService.servers(); track server.identifier) {
  <sidebar-cicle
    [text]="getInitials(server.name)"
    [routerLink]="server.identifier"
  ></sidebar-cicle>
  }
</aside>
@if (createServerModalOpen()) {
<app-modal title="Create server" (closeModal)="closeCreateServerModal()">
  <app-create-server-form
    (createComplete)="closeCreateServerModal()"
  ></app-create-server-form>
</app-modal>
}
