<div class="w-80 h-full">
  <div
    class="bg-indigo-900 flex flex-col h-full w-full gap-2 rounded-t-xl border-x border-x-violet-900"
  >
    <div class="flex justify-between items-center m-2">
      <h1 class="text-xl cursor-pointer" (click)="copyIdentifierToClipboard()">
        {{ server.name }}
        <i class="text-xs font-thin">
          @if (copied()) {
            (copied!)
          } @else {
            (click to copy identifier)
          }
        </i>
      </h1>
      @if (server.ownerId === authService.user()?.id) {
        <i
          class="text-2xl cursor-pointer"
          (click)="openCreateChannelModalOpen()"
          >+</i
        >
      }
    </div>
    <div class="flex-1 mx-2 flex flex-col gap-2 overflow-y-auto pr-2">
      @for (channel of server.channels; track channel.id) {
        <div
          class="rounded p-2 flex justify-between"
          [ngClass]="{
            'bg-indigo-600': selectedChannelId === channel.id,
            'bg-indigo-950 cursor-pointer hover:bg-violet-600':
              selectedChannelId !== channel.id
          }"
          (click)="onChannelClick(channel.id)"
        >
          <span># {{ channel.name }}</span>
          @if (server.ownerId === authService.user()?.id) {
            <i class="text-sm" (click)="deleteChannel($event, channel.id)">X</i>
          }
        </div>
      }
    </div>
    <div
      class="w-full h-16 bg-indigo-950 flex items-center justify-between px-4 border-t border-t-violet-900"
    >
      <div class="flex gap-2 items-center">
        <div class="size-8 bg-slate-950 rounded-full"></div>
        <span>{{ authService.user()?.username }}</span>
      </div>
      <span>Quit</span>
    </div>
  </div>
</div>
@if (createChannelModalOpen()) {
  <app-modal
    title="Create channel"
    (closeModal)="closeCreateChannelModalOpen()"
  >
    <app-create-channel-form
      (createComplete)="handleCreatedChannel()"
      [serverId]="server.identifier"
    ></app-create-channel-form>
  </app-modal>
}
