<main class="bg-indigo-900 w-screen h-screen flex">
  <div class="bg-indigo-950 w-[30%]">
    <form
      class="text-gray-100 flex flex-col gap-2 w-full p-10"
      (submit)="register()"
    >
      <h1 class="text-center text-2xl text-white">Register</h1>
      <div class="flex flex-col gap-1">
        <label>Name:</label>
        <input
          type="text"
          class="p-2 rounded bg-indigo-800 text-white placeholder:text-white"
          placeholder="ex: Walter"
          [ngModelOptions]="{ standalone: true }"
          [ngModel]="registerParams().name"
          (ngModelChange)="onNameChange($event)"
        />
        <span>{{ errorMessage()["username"] }}</span>
      </div>
      <div class="flex flex-col gap-1">
        <label>Username:</label>
        <input
          type="text"
          class="p-2 rounded bg-indigo-800 text-white placeholder:text-white"
          placeholder="ex: Walter"
          [ngModelOptions]="{ standalone: true }"
          [ngModel]="registerParams().username"
          (ngModelChange)="onUserNameChange($event)"
        />
        <span>{{ errorMessage()["username"] }}</span>
      </div>
      <div class="flex flex-col gap-1">
        <label>Password:</label>
        <input
          type="password"
          class="p-2 rounded bg-indigo-800 text-white placeholder:text-white"
          placeholder="Ex: ********"
          [ngModelOptions]="{ standalone: true }"
          [ngModel]="registerParams().password"
          (ngModelChange)="onPasswordChange($event)"
        />
        <span>{{ errorMessage()["password"] }}</span>
      </div>
      <span>{{ errorMessage()["form"] }}</span>
      <span
        >Already have a account ?
        <a class="text-violet-400 font-semibold" routerLink="/login"
          >Login</a
        ></span
      >
      <button
        type="submit"
        class="bg-indigo-600 p-2 rounded hover:bg-indigo-500"
        [disabled]="loading()"
      >
        Login
      </button>
    </form>
  </div>
  <div class="flex-1"></div>
</main>
